<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxyy.yusx.myddc.mapper.SurveyItemMapper">
    <resultMap id="BaseResultMap" type="com.zxyy.yusx.myddc.model.SurveyItem">
        <id column="item_id" jdbcType="VARCHAR" property="itemId"/>
        <result column="item_name" jdbcType="VARCHAR" property="itemName"/>
        <result column="item_sort" jdbcType="INTEGER" property="itemSort"/>
        <result column="item_star" jdbcType="INTEGER" property="itemStar"/>
        <result column="item_group" jdbcType="VARCHAR" property="itemGroup"/>
        <result column="item_status" jdbcType="INTEGER" property="itemStatus"/>
        <result column="item_extend1" jdbcType="VARCHAR" property="itemExtend1"/>
        <result column="item_extend2" jdbcType="VARCHAR" property="itemExtend2"/>
        <result column="item_extend3" jdbcType="VARCHAR" property="itemExtend3"/>
        <result column="item_extend4" jdbcType="VARCHAR" property="itemExtend4"/>
        <result column="item_extend5" jdbcType="VARCHAR" property="itemExtend5"/>
    </resultMap>

    <insert id="bacthInsertSurveyItem" parameterType="java.util.List">
        insert into survey_item
        (item_id, item_extend1, item_name, item_group,item_star)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.itemId},
            #{item.itemExtend1},
            #{item.itemName},
            #{item.itemGroup},
            #{item.itemStar}
            )
        </foreach>
    </insert>
</mapper>