<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxyy.yusx.myddc.mapper.ZgongDchaMapper">
  <resultMap id="BaseResultMap" type="com.zxyy.yusx.myddc.model.ZgongDcha">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="dcha" jdbcType="VARCHAR" property="dcha" />
    <result column="dept" jdbcType="VARCHAR" property="dept" />
    <result column="fwtdu" jdbcType="INTEGER" property="fwtdu" />
    <result column="bsxlv" jdbcType="INTEGER" property="bsxlv" />
    <result column="fwzliao" jdbcType="INTEGER" property="fwzliao" />
    <result column="ldjlv" jdbcType="INTEGER" property="ldjlv" />
    <result column="zgong" jdbcType="VARCHAR" property="zgong" />
    <result column="extendTxt1" jdbcType="VARCHAR" property="extendtxt1" />
    <result column="extendTxt2" jdbcType="VARCHAR" property="extendtxt2" />
    <result column="extendTxt3" jdbcType="VARCHAR" property="extendtxt3" />
    <result column="extendInt1" jdbcType="INTEGER" property="extendint1" />
    <result column="extendInt2" jdbcType="INTEGER" property="extendint2" />
    <result column="extendDouble1" jdbcType="DOUBLE" property="extenddouble1" />
    <result column="extendDouble2" jdbcType="DOUBLE" property="extenddouble2" />
    <result column="extendTime1" jdbcType="TIMESTAMP" property="extendtime1" />
    <result column="extendTime2" jdbcType="TIMESTAMP" property="extendtime2" />
  </resultMap>
</mapper>